// Breakpoints
$bp-sm: 576px;
$bp-md: 768px;
$bp-lg: 1024px;
$bp-xl: 1280px;

:root {
  /* colours */
  --black: #000000;
  --grey: #808080;
  --white: #ffffff;
  --orange: #ff9c85;
  --pink: #ffccec;
  --purple: #9594ff;
  --yellow: #ffcb8f;

  --drop-shadow-color: rgba(128, 128, 128, 0.25);
}
